<%- include('../partials/myHeader.ejs') %>
  <%- include('./adminNav.ejs') %>


    <section>
      <form method="post">
        <table class="table table-bordered table-warning w-50 mx-auto mt-5">
          <thead>
            <tr>
              <th colspan="2">
                Registration Form
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>User Name</td>
              <td><input type="text" name="unm" value="<%= user.userName %>" readonly /> </td>
            </tr>

            <tr>
              <td>Password</td>
              <td><input type="text" name="pwd" value="<%= user.userPwd %>" /> </td>
            </tr>
            <tr>
              <td>Email</td>
              <td><input type="email" name="mailId" value="<%= user.userEmail %>" /> </td>
            </tr>
            <tr>
              <td colspan="2" align="center"><input type="submit" name="regBtn" value="Update"
                  class="btn btn-primary" /> </td>
            </tr>
          </tbody>
        </table>

        <% if(success) { %>
          <p class="alert alert-info w-50 mx-auto">
            <%= message %>
          </p>

          <% } %>


      </form>

    </section>


    <%- include('../partials/myFooter.ejs') %>