<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <hr color="orange" size="10" />
    <h1 align="center"> EJS Demo Page </h1>
    <hr color="green" size="10" />

    <fieldset>
      <legend>Varible Examples</legend>
      <%= hobbies %> <br />
      <%= hobbies[0] %> <br />
      <%= address %> <br />
      <%= address.city %> <br />
      <%= address['pinCode'] %> <br />



    </fieldset>




    <fieldset>
      <legend>Varible Examples</legend>
      Welcome <%= name %>
        Email <%= age %>

    </fieldset>



  </body>

</html>